[user]
	name = Dominic Shelton
	email = frogamic@protonmail.com
	signingkey = AAE070F067EC00A5
[core]
	excludesfile = ~/.gitrc/ignore
	editor = vim
[init]
	defaultBranch = main

[pull]
	ff = only
	rebase = true
[push]
	default = upstream
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[rebase]
	autoStash = true
[merge]
	autoStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	amend = commit --amend
	amendn = commit --amend --no-edit
	pfl = push --force-with-lease
	pu = push -u
	pr = pull --rebase
	unstage = reset HEAD --

[url "github:"]
	insteadOf = https://github.com/
[url "gitlab:"]
	insteadOf = https://gitlab.com/

[includeIf "gitdir:/Users"]
	path = ~/.gitrc/config-macos

[includeIf "hasconfig:remote.*.url:github:Innablr/**"]
	path = ~/.gitrc/config-innablr
[includeIf "hasconfig:remote.*.url:github:innablr/**"]
	path = ~/.gitrc/config-innablr
[includeIf "hasconfig:remote.*.url:https://github.com/Innablr/**"]
	path = ~/.gitrc/config-innablr
[includeIf "hasconfig:remote.*.url:https://github.com/innablr/**"]
	path = ~/.gitrc/config-innablr
